package partials

import "github.com/loissascha/go-templ-template/internal/ui/components"

templ HomeInfoComponents() {
	@components.InfoComponent("Temperatur", "22.70 C")
	@components.InfoComponent("Luftfeuchtigkeit", "36.60 %")
}
