package layouts

templ Layout() {
	<!DOCTYPE html>
	<html lang="de">
		<head>
			<title>Go + Templ + Air</title>
			<link href="/static/output.css" rel="stylesheet"/>
			<script src="/static/htmx.min.js"></script>
		</head>
		<body class="bg-neutral-900 text-neutral-200">
			<div class="flex flex-col min-w-dvw min-h-dvh">
				<div class="grow">
					{ children... }
				</div>
			</div>
		</body>
	</html>
}
