package pages

import "github.com/loissascha/go-templ-template/internal/ui/layouts"

templ Dashboard() {
	@layouts.LayoutNew("dashboard") {
		<div
			hx-get="/partials/components/pcstatus"
			hx-swap="innerHTML"
			hx-trigger="load, every 1s"
			class="flex justify-center items-center"
		></div>
		<div
			hx-get="/partials/components/voice"
			hx-ext="morph"
			hx-swap="morph:innerHTML"
			hx-trigger="load, every 1s"
			class="flex justify-center items-center"
		></div>
	}
}
