package pages

import (
	"github.com/loissascha/go-templ-template/internal/services/espservice"
	"github.com/loissascha/go-templ-template/internal/ui/layouts"
	"github.com/loissascha/go-templ-template/internal/ui/partials"
)

templ Home(sensors espservice.ESPSensorData) {
	@layouts.Layout() {
		<div class="container mx-auto p-5">
			@partials.HomeInfoComponents(sensors)
		</div>
	}
}
