package pages

import "github.com/loissascha/go-templ-template/internal/ui/layouts"

templ Lights() {
	@layouts.LayoutNew("light") {
		<div
			class="grow"
			id="tischlampe-mode"
			hx-get="/partials/components/tischlampemode"
			hx-swap="innerHTML"
			hx-trigger="load"
		></div>
		<div
			id="tischlampe-status"
			hx-get="/partials/components/tischlampestatus"
			hx-swap="innerHTML"
			hx-trigger="load, every 1s"
		></div>
	}
}
