package pages

import "github.com/loissascha/go-templ-template/internal/ui/layouts"

templ Temps() {
	@layouts.LayoutNew("temps") {
		<div class="grid grid-cols-2 gap-4 p-4 h-full">
			<div hx-get="/partials/components/temp" hx-swap="innerHTML" hx-trigger="load, every 10s"
			class="flex justify-center items-center"></div>
			<div hx-get="/partials/components/humidity" hx-swap="innerHTML" hx-trigger="load, every 10s"
			class="flex justify-center items-center"></div>
		</div>
	}
}
